<p>
	Group Icon: <%= group.icon %>
	Group Name: <%= group.name %>
	Creation Date: <%= group.created_at.to_date %>
</p>
<%= link_to 'show', group_path(group) %>
<%= link_to 'Edit', edit_group_path(group) %> /
<%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>

