

<%= @user.userimage %>
<h1>Hey! <%= @user.username %></h1>


<h4><%= link_to 'All my Expenses', expenses_path %></h4>
<h4><%= link_to 'All my External Expenses', extExpenses_path %></h4>
<h4><%= link_to 'All Groups', groups_path %></h4>
