<h1>Edit Expense</h1>

<%= form_for(@expenses) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :amount %>
	<%= f.number_field :amount %>

	<%= f.label :createdAt %>
	<%= f.text_field :createdAt, placeholder: 'YYYY-MM-DD' %>

	<%= f.submit 'Save Expense' %>

<% end %>