<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'groups', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="d-flex flex-row p-3 px-md-4 mb-3 bg-blue border-bottom shadow-sm">
      <%= render 'shared/application_nav' %>
        
    </div>
      <%= render 'shared/alerts' %> 

      <%= yield %>
      

  </body>
</html>

        
